.headings {
  margin-bottom: 0;
  text-align: center;
  background-color: black;
  color: white;
  font-family: cursive;
}
.div1 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.New {
  color: red;
  font-size: small;
  margin-bottom: 5px;
}
.sh1 {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sh2 {
  font-weight: bolder;
  font-size: xx-large;
  margin-top: 5px;
  margin-bottom: 5px;
}
.price {
  font-size: small;
  margin-bottom: 5px;
  margin-top: 5px;
}
.but1 {
  background-color: #1373b3;
  border: none;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  margin-top: 5px;
  cursor: pointer;
}

.div2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.Mon {
  font-size: x-large;
  font-weight: 525;
  margin-bottom: -5px;
}
.USD {
  font-size: medium;
  color: rgb(82, 82, 82);
}
.rateu {
  font-size: small;
  color: rgb(1, 96, 1);
  margin-bottom: -5px;
}
.time {
  color: rgb(26, 26, 26);
  font-size: small;
}
.rated {
  color: red;
}

.div3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
.t1 {
  font-weight: bolder;
  margin-bottom: -5px;
}
.t2 {
  font-weight: normal;
  color: rgb(65, 65, 65);
  margin-bottom: -6px;
}
.t3 {
  width: 500px;
  font-weight: 550;
  font-size: 14px;
}

.t4 {
  width: 500px;
  font-weight: 550;
  font-size: 14px;
}
.t5 {
  color: #1da3c5;
  font-weight: 490;
  font-size: 14px;
  cursor: pointer;
}
